body {
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	color: white;
}

.top, .bottom {
	display: flex;
	width: 100%;
	height: 50%;
	flex-direction: row;
}

#top-divs {
	width: 100%;
	height: 100%;
}

h1 {
	font-size: 3em;
	background-color: green;
	width: auto;
}

.welcome {
	display: flex;
	background-color: rgb(100, 100, 100);
}

.welcome h1 {
	margin: 60px;
}

.to {
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: rgb(50, 50, 50);
}

.to h1 {
	margin: 60px;
}

.title {
	display: flex;
	justify-content: flex-end;
	align-content: flex-end;
	flex-wrap: wrap;
	background-color: rgb(25, 25, 25);
}

.title h1 {
	color: gold;
	margin: 60px;
}

.bottom {
	align-content: center;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: black;
}

.bottom p {
	font-size: 5em;
	background-color: green;
}